@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    margin: 0px;
    padding: 0px;
}
a { text-decoration: none;}
html {
    font-family: 'Nunito';
    font-size: 1.2rem;
    /*color: #54595F;*/
}
body {
    background-color: #323580;
}
.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.header.my-bookshelf{
    background-color: #253857;
    color: white;
}
.header a{
    color: #54595F;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.card-header {
    position: relative;
    text-align: center;
    background-color:#E0E1FE;
    color: #323580;
}
.profile-image{
    border-radius: 100%;
    border: 4px solid white;
    width: 100px;
    margin-top: -30px;
}
.friends-shelf  {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;
}
.friends-shelf>div{
    flex: 1 1 200px;
}
.friends-shelf h3, .person-bookshelf h3{
    padding: 16px;
    margin: 0;
}
.friend-shelf, .person-bookshelf{
    background-color: #f5f6fa;
    border-radius: 4px;
    margin: 20px;
}
.thumbnail.friend{
    width: 25px;
    margin: 0px;
    padding: 0px;
}
.dropzone {
    padding:16px;
    background-color: #F3F4F4;
    min-height: 100px;
    max-height: 500px;
    min-width: 300px;
}
.dropzone-my-bookshelf {
    padding:16px;
    background-color: #F3F4F4;
}
.dropzone.active {
    background-color: #E0E1FE;
}
.book.friend{
    padding: 16px;
    box-shadow: 0 2px 2px -1px #5D66FA;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    background-color: white;
}
.state{
    width: 15%;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
    float: right;
}
.state.gifted, .btn-state.gifted{
    background-color: #53BABC;
}
.state.lend, .btn-state.lend{
    background-color: #F18836;
}

.highlight {
    background-color: #e4e7f2;
}

/* CSS create form */
form {
    margin: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
  }
  
.form-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }
  
  form .input-block input {
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-create {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }


.books, .dropzone {
    transition: 400ms;
}
.is-dragging {
    cursor: move;
    opacity: 0.3;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-bookshelf .book.my-bookshelf {
    display: flex;
    border: 1px solid #cecece;
    border-radius: 4px;
    justify-content: space-between;
}
.edit-book, .info-book{
    display: flex;
    margin: 0px 5px 0 5px;
    justify-content: space-between;
}
.edit-book > i.fa{
    background: #eee;
    padding: 10px;
    margin: 1px;
}
.person-bookshelf .info-book > div {
    padding: 10px;
}
.person-bookshelf .info-book .handle {
    width: 30px;
    background: #eee;
    cursor: move;
}
.person-bookshelf .info-book .handle:hover i.fa {
    color: #111;
}
i.fa-trash {
    color: rgb(165, 7, 7);
}
i.fa-pencil {
    color: green;
}
.person-bookshelf .info-book .thumbnail {
    padding: 0px;
}
.person-bookshelf .info-book .thumbnail img {
    width: 40px;
    border-radius: 4px;
}
.person-bookshelf .info-book .details {
    flex: 1;
}
.person-bookshelf .info-book .title h2 {
    font-size: 16px;
    color: #111;
    padding: 0px 5px 3px;
}
.person-bookshelf .info-book .details p {
    font-size: 14px;
    color: #555;
    padding: 0px 5px 3px;
}

.modal-action{
    background-color: rgba(0 ,0 ,0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    pointer-events: none;
}
.modal-action.show {
    pointer-events: auto;
    opacity: 1;
}
.modal {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 30px 50px;
    border-radius: 5px;
    max-width: 100%;
    text-align: center;
}
.modal h2 {
    margin: 20px 0px;
}
.btn-state {
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 25px;
}
.btn-state:hover {
    opacity: 0.2;
    cursor: pointer;
}
.fa-plus-circle{
    color: #5FC691;
    font-size: 50px;
}
.flex{
    display: flex;
}
.flex-left {
    margin-left: 0px;
}